#home {
  height: 40vh;
}

.title-container {
  margin: 0 1rem;
  padding-top: 1rem;
}

.title-container ul {
  display: flex;
  list-style: none;
}

.title-container ul li {
  margin: 0 0.7rem;
  font-size: 1.4rem;
}

.title-container ul li a:hover, .title-container ul li a:focus {
  color: rgb(182, 107, 252);
}

@media only screen and (max-width: 768px) {
  #home {
    height: 30vh;
  }
}